<h1>PRODUCTS</h1>
<table border="1">
  <tr>
    <th> Title </th>
    <th> Description </th>
    <th> Rating </th>
  </tr>


  <tbody>
    <% @product.reviews.each do |review| %>
    <tr>
      <td> <%= link_to review.title, company_product_review_path(@product.company, @product, review) %></td>
      <td> <%= review.description %></td>
      <td> <%= review.rating %></td>
    </tr>
    <% end %>


  </tbody>


</table>

<%= link_to 'Back', company_path(@product.company) %>
